<p>
  Seleccione el archivo que desea subir al storage. Este ejemplo acepta imágenes
</p>

<div>
  <mat-card class="card-size">
      <input #fileReceiver type="file" accept=".jpg, .png, .gif" (change)="uploadToStorage($event)">
      <button *ngIf="fileURL" mat-raised-button class="bote" (click)="delete()">Eliminar archivo y adjuntar nuevo</button>
    
      <mat-progress-bar class="uploading-bar" *ngIf="uploadToStorageService.uploadPercent" mode="determinate" [value]="uploadToStorageService.percentageNumber">{{uploadToStorageService.uploadPercent}}</mat-progress-bar>
      <span class="text-bar" *ngIf="uploadToStorageService.uploadPercent" >{{uploadToStorageService.uploadPercent}}</span>
      <a class="emphasize new-tab" *ngIf="fileURL" mat-raised-button target="_blank" href="{{uploadToStorageService.uploadUrl}}">Vista previa pestaña</a>
      <button class="emphasize dialog-preview" *ngIf="fileURL" mat-raised-button (click)="preview()">Vista previa modal</button>
  </mat-card>
  
</div>